<footer>
    
    <p>&#169;Shubham Gulik. All Rights Reserved</p>
    <div id="footer-links" >
        <p><a href="/"> Home</p></a> 
        <p> <a href="/users/profile/<%= user.id%>"> Profile</p> </a>
    </div>
</footer>