<header>
    
    <p><a href="/"> Shubham </a></p>
    <ul>
        
        <% if (locals.user){ %>
            <li>
                <a href="/users/profile/<%= user.id%>">
                    <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% }else{ %>

            <li>
                <a href="/users/signin">Sign In</a>
            </li>

            <li>
                <a href="/users/signup">Sign Up</a>
            </li>


        <% } %>
    </ul>

</header>