
<link rel="stylesheet" href="/css/home.css">

    <div>
        <h1>
            Codial / Home Page
        </h1>
    </div>
    <section>
        <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="10" placeholder="Type here..." ></textarea> <br>
            <input type="submit" value="Post">
        </form>
        <% } %>
        <div>
            <ul>
                <% for(let post of posts){ %>
                    <li> 
                        <p>
                            <%= post.content %> 
                            <br>
                            <span>Posted by: <%= post.user.name %> </span>
                            <br>
                            <div id="post-comments" >
                                <% if(locals.user){ %>
                                <form action="/comments/create" method="post">
                                    <input type="text" name="content" placeholder="Add a comment" required>
                                    <input type="hidden" name="post" value="<%= post._id %>">
                                    <input type="submit" value="Add Comment">
                                </form>
                                <% } %>
                            </div>
                                
                        </p>
                    </li>
                <%}%>
            </ul>
        </div>
    </section>
    
