
<link rel="stylesheet" href="/css/home.css">

    <div>
        <h1>
            Codial / Home Page
        </h1>
    </div>
    <section>
        <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="10" placeholder="Type here..." required></textarea> <br>
            <input type="submit" value="Post">
        </form>
        <% } %>
        <div>
            <% for(post of posts){ %>

            <ul>
                
                    <%- include('_post');  -%>
                
            </ul>
            <%}%>
        </div>
    </section>

    <section>
        <div>
            <ul>
                <% for(user of all_users){ %>
                    <li>
                        <a href="/users/profile/<%= user.id %>" target="_blank"><%= user.name%></a>
                    </li>
                <% } %>
            </ul>
        </div>
    </section>
    
