
<link rel="stylesheet" href="/css/profile.css">

    <div>
        <h1>
            Codial / <%= desc %>
        </h1>
    </div>

    <p>Name : <%= user.name%></p>
    <p>Email : <%= user.email%></p>

