<h1>Sign Up Page</h1>
<form action="/users/create" method="post">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" required>

    <label for="email">email:</label>
    <input type="text" name="email" id="email" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>

    <label for="confirm_password">Confirm Password:</label>
    <input type="password" name="confirm_password" id="confirm_password" required>

    

    <button type="submit">SignUp</button>
</form>